<h2>Cadastrar usuário:</h2>
<hr>
<form>
  <p>email: <input type="text" name="email" [(ngModel)]="user.email"></p>

  <p>senha: <input type="password" name="senha" [(ngModel)]="user.senha"></p>

  <button type="button" (click)="cadastrar()">Cadastrar</button>
</form>

<h2>Usuários Cadastrados:</h2>
<hr>
<table>
  <tr>
    <th>email</th>
    <th>senha</th>
    <th>data da última redefinição de senha</th>
    <th>email verificado?</th>
    <th>data de criação</th>
    <th>data de atualização</th>
    <th>companhias associadas</th>
    <th>companhia original</th>
    <th>documentos associados</th>
  </tr>

  <tr *ngFor="let user of usuarios">
    <td>{{ user.email }}</td>
    <td>{{ user.senha }}</td>
    <td>{{ user.data_ultima_redefinicao_senha }}</td>
    <td>{{ user.email_verificado }}</td>
    <td>{{ user.data_criacao }}</td>
    <td>{{ user.data_atualizacao }}</td>
    <td>{{ user.companhias_associadas }}</td>
    <td>{{ user.companhia_original }}</td>
    <td>{{ user.documentos_associados }}</td>
  </tr>
</table>
