<div class="companies-container">
  <div class="title-container">
    <h2 class="title">Cadastrar Companhia</h2>
  </div>

  <div class="form-container">
    <form class="form">
      <p>Nome: <input class="content-input" type="text" name="nome" [(ngModel)]="company.nome"></p>
      <p>Data de criação: <input class="content-input" type="date" [(ngModel)]="company.data_criacao"></p>
      <button class="cadastrar-button" type="button" (click)="cadastrar()">Cadastrar</button>
    </form>
  </div>

<div class="table-container">
  <h2 class="table-title">Companhias Cadastradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data de Criação</th>
        <th>Data de Atualização</th>
        <th>Fuso Horário</th>
        <th>Linguagem</th>
        <th>Usuários Convidados</th>
        <th>Usuário Criador</th>
        <th>Documentos Associados</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.nome }}</td>
        <td>{{ company.data_criacao }}</td>
        <td>{{ company.data_atualizacao }}</td>
        <td>{{ company.fuso_horario }}</td>
        <td>{{ company.linguagem }}</td>
        <td>{{ company.usuarios_convidados }}</td>
        <td>{{ company.usuario_criador }}</td>
        <td>{{ company.documentos_associados }}</td>
        <td>
          <div class="action-buttons-container">
            <button class="action-button-remove"(click)="remover(company.id)">Remover</button>
            <button class="action-button-add" (click)="atualizar(company.id)">Atualizar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  
